/*! normalize.css 2011-09-22T17:42 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1;}

/* Prevents modern browsers from displaying 'audio' without controls*/
audio:not([controls]) { display: none;}

/* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {display: none;}

/* =============================================================================
   Base
   ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html { font-size: 100%; /* 1 */ overflow-y: scroll; /* 2 */ -webkit-text-size-adjust: 100%; /* 3 */ -ms-text-size-adjust: 100%; /* 3 */ }

/* Addresses margins handled incorrectly in IE6/7 */
body { margin: 0;}

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
body, button, input, select, textarea { font-family: sans-serif; }

/* =============================================================================
   Links
   ========================================================================== */
/* Addresses outline displayed oddly in Chrome  */
a:focus { outline: thin dotted; }

/* Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover, a:active { outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/* Addresses style set to 'bolder' in FF3/4, S4/5, Chrome */
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px;}

/* Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improves readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
q { quotes: none; } /* 1 */
q:before, q:after { content: ''; content: none; } /* 2 */
small { font-size: 75%; }

/* Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol { margin: 1em 0; padding: 0;}
dd { margin: 0 0 0 40px;}
nav ul, nav ol { list-style: none; list-style-image: none;}

/* =============================================================================
   Embedded content
   ========================================================================== */
/* 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */; display:block;}


/* =============================================================================
   Forms
   ========================================================================== */
/* Corrects margin displayed oddly in IE6/7  */
form { margin: 0; }

/* 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet  */
button, input { line-height: normal; /* 1 */ }

/* 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Corrects inner spacing displayed oddly in IE7 without effecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; /* 1 */ -webkit-appearance: button; /* 2 */ *overflow: visible;  /* 3 */ }

/* 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/* 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/* Remove most spacing between table cells */
table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Scaffolding
   ========================================================================== */

@font-face {
   font-family: 'MisoRegular';
   src: url('/fonts/miso-webfont.eot');
   src: url('/fonts/miso-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/miso-webfont.woff') format('woff'),
        url('/fonts/miso-webfont.ttf') format('truetype'),
        url('/fonts/miso-webfont.svg#MisoRegular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'MisoLight';
   src: url('/fonts/miso-light-webfont.eot');
   src: url('/fonts/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/miso-light-webfont.woff') format('woff'),
        url('/fonts/miso-light-webfont.ttf') format('truetype'),
        url('/fonts/miso-light-webfont.svg#MisoRegular') format('svg');
   font-weight: normal;
   font-style: normal;
}

html {margin:0;}
html, body {height:100%;}
#all {
  min-height:100%; 
  height:auto !important; 
  height:100%; 
  margin-bottom:-184px;
  background:url('/images/body_bg.jpg') no-repeat top center;
}

body { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #404040;
  background:#e0e0e0 url('/images/body_bg_tile.png');
}   

header {padding:36px 0 48px; position:relative;}
#branding {display:block; float:left;}
#tail {
  position:absolute; 
  width:107px; 
  height:152px; 
  background:url('/images/mechanicalbee_tail.png') no-repeat;
  left:-98px;
  top:143px;
}

#about_primary {float:right; width:160px; color:#999; font-size:12px; line-height:18px; margin-top:10px; margin-right:40px;}
#about_primary h3 {font-family: 'MisoLight', sans-serif; font-weight:normal; margin:0; color:#474747; text-transform:0 1px 0 #fff;}

footer {
  background:#415267;
  border-top:24px solid #8792a2; 
}

footer .container {
  height:88px;
  padding:36px 0;
  background:url('/images/footer_bee.png') no-repeat 724px bottom;
}

#footer_push {height:240px;}

.container {width:864px; margin:0 auto; zoom:1;}
.container:before, .container:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.container:after { clear: both;}

a {
  color: #2565b7;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
  color: #154582;
  text-decoration: underline;
}
.pull-right { float: right; }
.pull-left { float: left; }
.hide { display: none; }
.show { display: block; }
.clear {clear: both;}
/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {content: "\0020"; display: block; height: 0; overflow: hidden;	} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }  /* IE < 8 */
    
/* typography */
h1, h2, h3, h4, h5, h6 { color: #484848; margin: 0;}
h1, h2 {font-size: 36px; font-weight:normal; font-family: 'MisoRegular', sans-serif; line-height:48px;}
h3 {font-size: 22px; line-height:36px; font-weight:normal;}
h4 {font-size: 16px; line-height:24px; margin:12px 0;}
h5 {font-size: 12px; text-transform:uppercase; line-height:16px}

blockquote {
  margin-bottom: 24px;
  border-left: 5px solid #eee;
  padding-left: 16px;
}


address {
  display: block;
  line-height: 24px;
  margin-bottom: 24px;
}
pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 13px;
  background-color: #f5f5f5;
  display: block;
  padding: 12px;
  margin: 0 0 24px;
  line-height: 24px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.pagination {
  margin:0 auto; 
  width:630px;
  clear:both;
  background: url('/images/post_hr.png') no-repeat top;
  padding:46px 0;
}

#paginate_next {float:right; text-align:right; display:block;}
#paginate_prev {float:left;}

.post {clear:both; float:left; margin:1.5em 0;}
.post h2 {width:580px; margin-left:142px;}
.post_meta {float:left; width:120px; font-size:12px; line-height:18px; margin-top:22px; text-align:right; color:#777;}
.post_content {float:left; width:580px; margin-left:22px; margin-right:22px;}
.post_more {float:left; width:120px;}

.page {margin-left:142px; width:580px;}

#category_heading {margin-left:142px;}

#disqus_thread {
  margin-top:36px;
  margin-left:142px;
  width:580px;
}

#about_secondary {float:left; margin-left:142px; width:280px; margin-top:22px;}
#about_secondary h2 {color:#a5aab1; font-family:'MisoLight', sans-serif; font-weight:normal;}
#connect {float:left; width:360px;}
#connect a {display:block; line-height:36px; margin:5px 0; color:#a5aab1; font-family:'MisoLight', sans-serif; font-size:22px;}
#connect a:hover {text-decoration:none; color:#8792a2;}
.connect_icon {background-image:url('/images/footer_icons.png'); background-repeat:no-repeat; display:block; width:30px; margin-right:10px; height:36px; float:left;}
#connect_github{background-position:bottom;}

.media_callout {
  background:#f8f8f8; 
  margin:1em -142px 1em -22px; 
  padding:22px; 
  position:relative; 
  border-radius:4px;
  -mox-border-radius:4px;
  -webkit-border-radius: 4px;
  border:1px solid #dedede; 
  border-bottom-color:#bbb;
}
.media_callout img {float:left;}
.media_callout .media_shadow{width:740px; height:10px; position:absolute; bottom:-10px; left:0; background:url('/images/shadow.png') no-repeat top;}

.project h3 {line-height:22px;}
.project_description{margin-left:284px; padding-top:20px;}
.project_keywords {color:#777; font-size:12px; line-height:18px;}
#about_bios{margin-top:3em;}