<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - Mechanical Bee</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
  </head>

  <body>
    <div id="all">
      <header class="container">
        <a href="/"><img src="/images/mechanicalbee_logo.png" /></a>
      </header>
      
      <div class="container">
        {{content}}
      </div>
            
      <div id="footer_push"></div>
    </div><!-- end #all -->
    
    <footer>
      <div class="container"></div>
    </footer>
    

  </body>
</html>