<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - Mechanical Bee</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
  </head>

  <body>
    <div id="all">
      <header class="container">
        <a href="/" id="branding"><img src="/images/mechanicalbee_logo.png" /></a>
        <div id="about_primary">
          <h3>about us</h3>
          We make web applications for ourselves and for clients. 
          <script type="text/javascript">
          //<![CDATA[
          <!--
          var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
          "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
          "\\\\,l=x.length;for(i=0;i<l;i++){if(i==5)y+=i;y%=127;o+=String.fromCharCode" +
          "(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\aid}dj~e<df|brtw29 |>wRDD\\\\\\"+
          "\\036x\\\\\\\\007KFAE^D\\\\\\\\026EGo]TQ[U[_TYUX^Y\\\\\\\\023]P-\\\\\\\\035" +
          "`c0,2+-t\\\\\\\\026i\\\\\\\\020op\\\\\\\\014??&27!v\\\\\\\\\\\"\\\\+eu:b\\\\"+
          "\\\\177wdPZ\\\"\\\\,5)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=" +
          ">i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)811=!)31/l(tAedoCrahc.x(elihw;lo=l," +
          "htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"                               ;
          while(x=eval(x));
          //-->
          //]]>
          </script>
          or <a href='/about.html'>learn more</a>.
        </div>
        <div id="tail"></div>
      </header>
      
      <div class="container">
        {{content}}
      </div>
            
      <div id="footer_push"></div>
    </div><!-- end #all -->
    
    <footer>
      <div class="container">
        
        <div id="about_secondary">
          <h2>mechanical bee</h2>
        </div>
        
        <div id="connect">
          <a href="/atom.xml"><span id="connect_atom" class="connect_icon"></span>subscribe</a>
          <a href="https://github.com/mechbee"><span id="connect_github" class="connect_icon"></span>git</a>
        </div>
      </div>
    </footer>
    

  </body>
</html>