---
layout: default
---

<article class="post">
     
 <h1>{{ page.title }}</h1>
 
 <div class="post_meta">
   <div class="post_date">{{ page.date | date: '%B %d, %Y' }}</div>
   <div class="post_tags">
     {% for category in page.categories %}
      <a href="/{{category}}">{{ category }}</a>, 
    {% endfor %}
    <a href="/{{page.author}}">{{ page.author }}</a>
  </div>
 </div>
 
 <div class="post_content">  
   {{ content }}
 </div>
</article>

<nav id="interpost" class="pagination clearfix">
  {% if page.next != null %}
    <a href="{{page.next.url}}" id="paginate_next">{{page.next.title}} &#8594;</a>
  {% endif %}
  
  {% if page.previous != null %}
    <a href="{{page.previous.url}}" id="paginate_prev">&#8592; {{page.previous.title}}</a>
  {% endif %}
</nav>

<div id="disqus_thread"></div>

<script type="text/javascript">
    var disqus_shortname = 'mechanicalbee'; 
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>